/* style.css */

body {
   margin: 0px;
   padding: 0px;
   max-width: 100px;
}

.page-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: hero;
    grid-area: main;
    grid-area: quotation;
    grid-area: call-to-action;
    grid-area: footer;
    display: flex;
}

.hero {
    display: flex;
    background-color: #1f2937;
    height: 400px;
    grid-column: span 3;
    flex-direction: column;
    display: grid;
    grid-area: hero;
}

.footer {
    display: flex;
    background-color: #1f2937;
    height: 75px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-area: footer;
    grid-column: span 1;
    color: white;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 150px;
}

.heading {
    color: #f9faf8;
    font-size: 48px;
    margin-top: 46px;
    margin-left: 150px;
}

.subtext-1, links {
    font-size: 18px;
    color: #f9faf8;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 10px 16px;
    width: 130px;
    font-size: 20px;
    margin-top: 26px;   
}

ul {
    display: flex;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    gap: 1px;
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.left {
    margin-top: 20px;
    margin-left: 46px;   
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    margin-right: 280px;
}

.main {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 400px;
    display: grid;
    grid-area: main;
    grid-column: span 3;
    padding: 2em 0 2em 0;
}

.sub-heading {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
}

.info {
    max-width: 200px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.text {
    font-size: 18px;;
}

.quotation {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     height: 400px;
     background-color: #E5E7EB;
     display: grid;
     grid-area: quotation;
     padding: 2em 0 2em 0;
     flex-wrap: nowrap;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic, #1f2937;
}

.call-to-action {
    background-color: #3882F6;
    display: grid;
    grid-area: call-to-action;
}
